<% title "Editing #{@book.title}" %>

<% form_for(@book) do |form| %>
	<p>
		<%= form.label :title %><br/>
		<%= form.text_field :title %>
	</p>
	
	<p>
		<%= form.label :thoughts %><br/>
		<%= form.text_area :thoughts %>
	</p>
	
	<%= form.submit %>
<% end %>
